# Python
__pycache__/
*.py[cod]
*$py.class

# Entorno virtual
venv/
env/
.env

# Testing
.pytest_cache/
htmlcov/
.coverage

# Base de datos local (Testing o desarrollo puro)
*.sqlite3
*.db

# Directorios de la app
uploads/
alembic/versions/__pycache__/

# IDEs
.idea/
.vscode/
*.swp
.gemini/
.agent/
