<button class="admin-menu-button" type="button" (click)="openMenu($event)" aria-label="Abrir menu">
  <ion-icon name="menu-outline"></ion-icon>
</button>

<ion-popover
  class="admin-menu-popover"
  [isOpen]="isMenuOpen()"
  [event]="popoverEvent()"
  (didDismiss)="closeMenu()"
  side="bottom"
  alignment="end"
>
  <ng-template>
    <nav class="admin-menu-panel" aria-label="Administracion">
      <a
        class="admin-menu-panel__link"
        *ngFor="let item of menuItems; trackBy: trackByMenuLabel"
        [routerLink]="item.route"
        (click)="closeMenu()"
      >
        <ion-icon [name]="item.icon"></ion-icon>
        <span>{{ item.label }}</span>
      </a>
      <button
        type="button"
        class="admin-menu-panel__link admin-menu-panel__link--logout"
        (click)="logout()"
      >
        <ion-icon name="log-out-outline"></ion-icon>
        <span>Cerrar sesion</span>
      </button>
    </nav>
  </ng-template>
</ion-popover>
